{% extends 'base.html.twig' %}


{% block title %}Armes
{% endblock %}

{% block monTitle %}
	Listes des Armes
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">images</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>

			</tr>
		</thead>
		{% for table in tables %}
			<tr>
				<td scope="row">
					<img src="{{asset('images/armes/' ~ table.nom ~ '.png')}}"></td>
				<td>
					<a href="{{path('affich', {'nom':table.nom|lower})}}">
						{{table.nom}}</a>
				</td>
				<td>
					{% if table.mark %}

						VAL
					{% else %}
						No VAl

					{% endif %}

				</td>


			{% endfor %}
		</tr>

	</table>
{% endblock %}
